body{
     background-color: gray;
     text-align: center;
}

#calc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button{
    width: 100px;
    height: 75px;
    font-size: 25px;
    margin: 2px;
    border: none;
}

#visor{
    width: 100%;
    font-size: 20px;
    background-color: rgb(115, 225, 105);
    margin: 2px;
    text-align: right;
    padding: 3px;
    border: none;
    border-radius: 10px;
}